.btn-green {
  background-color: #28544B;
  color: #FFFFFF;
  padding: 10px;
  margin: 15px, 20px;
  border-radius: 4px;
}

.btn-green:hover {
  background-color: #FFA06F;
  color: #28544B;
  padding: 10px;
  border-radius: 4px;
}
